input[type=text] {
	font-family:'Raleway';
	font-weight:400;
	font-size:11pt;
	color:#919EBC;
	width:310px;
	height:40px;
	-webkit-appearance: none;
	padding:0 5px 0 10px;
	border:0;
	margin:0 0 5px 0;
	background:#E3F3F1;
	box-sizing:border-box;
}

input[type=radio] {
	-webkit-appearance: none;
	border:1px #919EBC solid;
	height:18px;
	width:18px;
	vertical-align:middle;
	-webkit-border-radius:20px;
	border-radius:20px;
}

input[type=radio]:checked {
	background: #919EBC;
}

#faleConoscoCont .col3 input[type=radio], #faleConoscoCont .col3 input[type=checkbox] {
	float:left;	
	margin-right:5px;
}

input[type=submit] {
	background:#8BCEB6;
	width:120px;
	height:35px;
	color:#fff;
	border:0;
	-webkit-border-radius:20px;
	border-radius:20px;
	font-size:13pt;
	font-family:'Raleway';
	margin:25px 0 15px 0;
	-webkit-box-shadow: 0 0 7px 0 #666;
	box-shadow: 0 0 7px 0 #666;
}

input[type=submit]:hover {
	-moz-transition: box-shadow 200ms; /* Firefox 4 */
    -o-transition: box-shadow 200ms; /* Opera     */
    -webkit-transition: box-shadow 200ms; /* Chrome    */
    transition: box-shadow 200ms;
    -webkit-box-shadow: 0 0 0 0 #666;
	box-shadow: 0 0 0 0 #666;
	cursor:pointer;
}

textarea {
	font-family:'Raleway';
	font-weight:400;
	font-size:11pt;
	color:#919EBC;
	width:638px;
	height:100px;
	-webkit-appearance: none;
	padding:10px;
	border:0;
	margin:20px 0 5px 0;
	box-sizing:border-box;
	background:#E3F3F1;
}

input[type=checkbox] {
	-webkit-appearance: none;
	border:1px #919EBC solid;
	height:16px;
	width:16px;
	vertical-align:middle;
}

input[type=checkbox]:hover,input[type=radio]:hover,select:hover {
	cursor:pointer;
}

input[type=checkbox]:checked {
	background: #919EBC;
}

select {
	width:310px;
	height:40px;
	-webkit-appearance: none;
	-webkit-border-radius:0;
	border-radius:0;
	padding:5px 10px 5px 10px;
	border:0;
	background:url(../imagens/bg_select.png) no-repeat right #E3F3F1;
	font-family:'Raleway';
	font-weight:400;
	font-size:11pt;
	color:#919EBC;
	box-sizing:border-box;
	margin:0 0 5px 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#919EBC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#919EBC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#919EBC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#919EBC;
}