body {
	margin:0;
	padding:0;
	
}

img {
	border:0;
}

p {
	line-height:18pt;
	font-size:14pt;
	font-family: 'Oswald';
	color:#929496;
	font-weight:300;
	width:80%;
	line-height:24pt;
}

strong {
	font-weight:400;
}