a {
	color: #929496;
	font-weight: 400;
	line-height: 24pt;
}

#contWork a { text-decoration:none; }

#contGreat .savethedate a { color:#333; }

#contTouch a { font-weight:300; }

a.linkFooter {
	color: #A6A8AA;
	font-weight: 300;
	line-height: 12pt;
}

#cookies a {
	font-weight:300;
	line-height:12pt;
}
