#menu {
	margin:25px 0 0 0;
	width:100%;
}

.menuBtn {
	border-style: solid;
	border-width: 0 2px;
	width:100%;
	height:50px;
	color:#fff;
	font-size: 1.25em;
	font-weight:400;
	line-height: 0.5;
	padding:25px 0 0 10px;
	box-sizing: border-box;
}

.menuBtn:first-of-type {
	border-top-width: 2px;
}

.menuBtn:last-of-type {
	border-bottom-width: 2px;
}

.menuBtn:hover,
.menuBtn:active {
	background-color: white !important;
	cursor: pointer;
}

#btnServices {
	background-color: #00ACED;
	border-color: #00ACED;
}

#btnServices:hover { color: #00ACED; }

#btnWork {
	background-color: #6DCDF4;
	border-color: #6DCDF4;
}

#btnWork:hover { color: #6DCDF4; }

#btnAbout {
	background-color: #EB1B2E;
	border-color: #EB1B2E;
}

#btnAbout:hover { color: #EB1B2E; }

#btnTouch {
	background-color: #F06522;
	border-color: #F06522;
}

#btnTouch:hover { color: #F06522; }

#btnGreat {
	background-color: #FFC905;
	border-color: #FFC905;
}

#btnGreat:hover { color: #FFC905; }

#menuMobBtn {
	display:none;
	width:50px;
	height:50px;
	margin:-15px 0 15px -40px;
	background-image: url('../imagens/btn_menu_mobile.png');
	background-size:cover;
}

#btnFechar {
	width:25px;
	height:25px;
	float:right;
	clear:both;
	display:none;
	background: url('../imagens/btn_fechar.png') no-repeat 100% 50% / 100%;
}
