@import url('http://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import 'variables.scss';
@import 'fonts.scss';
@import 'menu.scss';

body {
	color: $text-color;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

img { border: 0; }

.clear { clear: both; }

#logo { max-width: 100%; }

@media ($breakpoint-from-small) and ($breakpoint-to-large) {

		#logo { width: 35%; }
}

/* Page Layout */

#sticker {
	box-sizing: border-box;
	padding: 1em;
}

#content { margin: 0 1em; }

.top {
	background: url('#{$image-path}btn_top.png') no-repeat 0 0 / 100% auto;
	clear: both;
	height: 15px;
	margin: 50px 0;
	width: 150px;
}

@media ($breakpoint-from-small) {

	#sticker { padding: 25px; }

	#content { margin: 0 25px; }

}

@media ($breakpoint-from-medium) {

	#sticker {
		position: fixed;
		top: 0;
		width: 250px;
	}

	.show-cookies #sticker { top: 30px; }

	#content {
		margin: 0 0 40px;
		max-width: 930px;
		padding-left: 250px;
		width: 85%;
	}

	#home { margin-top: 120px; }

	.top {
		height: 45px;
		margin: 50px 0 25px;

		&:hover { cursor: pointer; }

	}

	.footer {
		color: $heading-color;
		font-size: 0.75em;
		line-height: 1.33333;
		margin-top: 25px;
		width: auto;
	}
}

.social-footer-nav { display: none; }

@media($breakpoint-from-medium) {

	.social-footer-nav { display: block; }

	#socialMedia {
		margin: 25px 0;
		min-width: 200px;

		& .col1 {
			padding: 5px 0 0;
			float: left;

			& img {
				margin: 0 10px 0 0;
				width:35px;
			}
		}

		& .col2 { float: right;

			& img { width: 105px; }

		}
	}
}

/* Headings */

.titulo {
	font-size: 2.875em;
	font-weight: 700;
}

.subtopic {
	color: #fff;
	margin: 25px 0;
	padding: 25px 0 0 10px;
	@include box-style();
}

/* Sections */

#contServices {

	& .titulo { color: $brand-color-1; }

	& .subtopic { background-color: $brand-color-1; }

}

@media ($breakpoint-from-medium) {

	#contServices,
	#contAbout,
	#contGreat {

		& p { width: 75%; }

	}
}

#contWork .titulo { color: $brand-color-2; }

// Consider replacing with Flexbox

.case-studies { margin: 50px 0; }

.case-study {
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: 100% auto;
	border: 1px #C6C7C9 solid;
	height: 300px;
	margin: 0 0 1em 0;
	position: relative;
	width: 100%;

	& .workTitulo,
	& p {
		color: #fff;
	}

	& .workTitulo {
		font-size: 1.125em;
		font-weight: 400;
		line-height: 1.77778;
	}

	& p {
		font-size: 0.9375em;
		line-height: 1.46667;
		margin: 0;
	}

	& .download {
		background: url('#{$image-path}btn_download.png') no-repeat left center / contain;
		margin: 20px 0 0 0;
		padding-left: 2em;
	}

	& .caseLeg {
		height: 95px;
		background-color: $brand-color-2;
		box-sizing: border-box;
		cursor: pointer;
		padding: 10px;
		width: 100%;
		position:absolute;
		bottom:0;
	}

	& .caseDet { display: none; }

}

@media ($breakpoint-from-small) {

	.case-study {
		float: left;
		max-width: 48.5%;
	}
}

@media ($breakpoint-from-small) and ($breakpoint-to-large) {

	.case-study:nth-child(even) {
		float: right;
	}
}

@media ($breakpoint-from-medium) {

	.case-study {
		height: 300px;
		margin: 0 25px 25px 0;
		width: 300px;
	}
}

#case01 {
	background-image: url('#{$image-path}img_work_clearblue-cropped.jpg');
}

#case02 {
	background-image: url('#{$image-path}img_work_natgeo-cropped.jpg');
}

#case03 {
	background-image: url('#{$image-path}img_work_pottermore-cropped.jpg');
}

#case04 {
	background-image: url('#{$image-path}img_work_bestseller-cropped.jpg');
}

#contAbout .titulo { color: $brand-color-3; }

#contTouch {

	& .titulo { color: $brand-color-4; }

	& .col2 { display: none; }

	& .col1,
	& .col2 {
		position: relative;
	}
}

@media ($breakpoint-from-medium) {

	#contTouch { overflow: hidden;

		& .col1,
		& .col2 {
			float: left;
		}

		& .col1 {
			margin: 25px 25px 0 0;
			width: 250px;
		}

		& .col2 {
			display: block;
			margin: 25px 0 0 0;
		}

	}
}

#contGreat {

	& .titulo {
		color: $brand-color-5;
		text-transform: uppercase;
		font-size: 1.75em;
		line-height: 1.3572;
		margin: 25px 0;
	}

	& .savethedate {
		background: $brand-color-5;
		box-sizing: border-box;
		color: #333;
		font-weight: 400;
		padding: 10px;
		text-align: center;
	}
}

/* Mobile Menu & Footer */

@media ($breakpoint-to-large) {

	#menuMob {
		background: #fff;
		box-shadow: 0 0 20px 0 #666;
		box-sizing: border-box;
		left: 0;
		padding: 25px;
		position: absolute;
		text-align: left;
		top: 0;
		width: 95%;
		-webkit-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);

		&.show {
			-webkit-transform: none;
			transform: none;
		}
	}

	#menuMobBtn {
		background-image: url('#{$image-path}btn_menu_mobile.png');
		background-size: cover;
		height: 50px;
		margin: 15px 0;
		width: 50px;
	}

	#btnFechar {
		background: url('#{$image-path}btn_fechar.png') no-repeat 100% 50% / 100%;
		clear: both;
		float: right;
		height: 25px;
		width: 25px;
	}

	#socialMediaF { margin: 30px 0 0 0;

		& .col1 { float: left;

			& img {
				margin: 0 5px 0 0;
				width: 50px;
			}
		}

		& .col2 img {
			float: right;
			width: 140px;
		}
	}

	#footerF {
		font-size: 0.875em;
		line-height: 1.143;
		margin: 1.143em auto;
		text-align: center;
	}
}

@media ($breakpoint-from-small) and ($breakpoint-to-large) {

	#menuMob { width: 60%; }
}

@media ($breakpoint-from-medium) {

	.social-footer-body { display: none; }
}

/* Cookies */

#cookies {
	background-color: #f8f8f8;
	border-bottom: 1px #e8e8e8 solid;
	box-sizing: border-box;
	margin: 0;
	padding: 15px;
	transition: all 0.4s ease-in;

	&.hide { opacity: 0; }

 	& .cont {

		& img  {
			float: left;
			margin: 20px 25px 0 10px;
			width: 25px;
		}

		& p  {
			float: left;
			font-size: 0.875em;
			line-height: 1.14286;
			margin-bottom: 0;
			max-width: 70%;
		}
	}
}

@media ($breakpoint-from-small) {

	#cookies { margin-bottom: 25px;

		& .cont {

			& img  { margin-top: 5px; }

		}
	}
}

@media ($breakpoint-from-medium) {

	.show-cookies { padding-top: 30px; }

	#cookies {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 5px 20px;
		z-index: 99999;

		& .cont {

			& img  {
				width: 15px;
				margin: 2px 10px 0 10px;

				&:hover { cursor: pointer; }

			}

			& p  {
				font-size: 0.875em;
				line-height: 1.42857;
			}
		}
	}
}

/* Error (?) */

#error {
	width: 600px;
	margin: 10% auto 0 auto;
	text-align: center;

	& p { width: 100%; }

	& .tit {
		font-size: 22pt;
		font-weight: 400;
		line-height: 12pt;
		margin: 15px 0 30px 0;
		padding:0;
	}
}
