@import url('http://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import 'variables.scss';
@import 'fonts.scss';
@import 'menu.scss';

body {
	color: $text-color;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

img { border: 0; }

.clear { clear: both; }

#error {
	width: 600px;
	margin: 10% auto 0 auto;
	text-align: center;

	& p { width: 100%; }

	& .tit {
		font-size:22pt;
		font-weight:400;
		line-height:12pt;
		margin:15px 0 30px 0;
		padding:0;
	}
}

#logo { max-width: 100%; }

.homeSeparator  {
	background-image: url('#{$image-path}grafismo.png');
	height: 50px;
	margin: 0 0 70px 0;
}

/* Headings */

.titulo {
	font-size: 2.875em;
	font-weight: 700;
	margin: 50px 0;
}

@media (min-width: 801px) {

	.titulo { margin: 0; }
}

.subtopic {
	color: #fff;
	margin: 25px 0;
	padding: 15px 0 0 10px;
	@include box-style();
}

/* Sections */

#contServices {

	& .titulo { color: $brand-color-1; }

	& .subtopic { background-color: $brand-color-1; }

}

#contWork {

	& .titulo { color: $brand-color-2; }

 	& .col {
		width:300px;
		height:300px;
		border:1px #C6C7C9 solid;
		position:relative;
		float:left;
		margin:50px 50px 0 0;

		& p {
			margin:0;
			padding:0;
			font-size:11pt;
			color:#fff;
			line-height:16pt;
		}

		& .workTitulo {
			font-size: 14pt;
			font-weight: 400;
			line-height: 24pt;
		}
	}
}

.caseLeg {
	height:95px;
	background:url('#{$image-path}1px_blue_95.png');
	box-sizing: border-box;
	cursor: pointer;
	padding:10px;
	width:100%;
	position:absolute;
	bottom:0;
}

.caseDet { display: none;

	& img {
		float:left;
		margin:-5px 10px 0 0;
		width:25px;
	}
}

#contWork .col .caseDet .download {
	margin:20px 0 0 0;
}

.case-study {
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
}

#case01 {
	background-image: url('#{$image-path}img_work_clearblue.jpg');
}

#case02 {
	background-image: url('#{$image-path}img_work_natgeo.jpg');
}

#case03 {
	background-image: url('#{$image-path}img_work_pottermore.jpg');
}

#case04 {
	background-image: url('#{$image-path}img_work_bestseller.jpg');
}

#contAbout .titulo { color: $brand-color-3; }

#contTouch {

	& .titulo { color: $brand-color-4; }

	& .col1 {
		position:relative;
		width:250px;
		float:left;
		margin:25px 25px 0 0;
	}

	& .col2 {
		position:relative;
		float:left;
		margin:50px 0 0 0;
	}
}

#contGreat {

	& .titulo {
		color: $brand-color-5;
		margin: 25px 0;
		text-transform: uppercase;
	}

	& .savethedate {
		background: $brand-color-5;
		color:#333;
		padding:10px;
		box-sizing:border-box;
		text-align:center;
		font-weight:400;
	}
}

/* Page Layout */

#sticker {
	box-sizing: border-box;
	padding: 25px;
	top: -60px;
	width: 100%;
}

#content {
	box-sizing: border-box;
 	margin: 0 25px;
}

.top {
	background-image: url('#{$image-path}btn_top.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 15px;
	margin: 50px 0 50px 0;
	width: 150px;
}

@media (min-width: 533px) {

	#sticker { padding: 0 0 25px 7.5%; }
}

@media (min-width: 801px) {

	#sticker {
		position: relative;
		float: left;
		padding: 25px;
		width: 250px;
	}

	#content {
		float: left;
		margin: 0 auto;
		width: 66%;
	}

	.top {
		height: 45px;
		margin: 50px 0 25px;

		&:hover { cursor: pointer; }

	}

	.footer {
		color: $heading-color;
		font-size: 0.75em;
		line-height: 1.33333;
		margin-top: 25px;
		width: auto;
	}
}

#socialMedia {
	margin: 25px 0 25px 0;
	min-width: 200px;

	& .col1 {
		padding: 5px 0 0 0;
		float: left;

		& img {
			margin:0 10px 0 0;
			width:35px;
		}
	}

	& .col2 { float:right;

		& img { width: 105px; }

	}
}

/* Mobile Menu & Footer */

@media (max-width : 800px) {

	#menuMob {
			background: #fff;
			box-shadow: 0 0 20px 0 #666;
			box-sizing: border-box;
			left: -1000px;
			padding: 25px;
			position: absolute;
			text-align: left;
			top: 0;
			width:95%;
		}

	#menuMobBtn {
		background-image: url('#{$image-path}btn_menu_mobile.png');
		background-size: cover;
		height: 50px;
		margin: 15px 0 15px -15px;
		width: 50px;
	}

	#btnFechar {
		background: url('#{$image-path}btn_fechar.png') no-repeat 100% 50% / 100%;
		clear: both;
		float: right;
		height: 25px;
		width: 25px;
	}

	#socialMediaF { margin: 30px 0 0 0;

		& .col1 { float:left;

			& img {
				margin: 0 5px 0 0;
				width: 50px;
			}
		}

		& .col2 img {
			float: right;
			width: 140px;
		}
	}

	#footerF {
		font-size: 10pt;
		line-height: 11pt;
		max-width: 100%;
		text-align: center;
		top: 320px;
	}
}

/* Legacy Breakpoints */

@media only screen and (min-width : 320px) and (max-width : 532px) {

	#contWork .col {
		width:99%;
		border:1px #C6C7C9 solid;
		margin:0 50px 50px 0;
	}
	#contGreat .titulo {
		color: $brand-color-5;
		text-transform:uppercase;
		font-size:20pt;
		line-height:28pt;
		margin:25px 0 25px 0;
	}

	#contTouch .col1 {
		margin:0;
	}
	#contTouch .col2 {
		display:none;
	}
}

@media only screen and (min-width : 533px) and (max-width : 800px) {

	#logo {
		width:55%;
	}

	#contWork .titulo {
		margin:25px 0 25px 0;
	}
	#contWork .col {
		width:47%;
		height:47%;
		border:1px #C6C7C9 solid;
		position:relative;
		float:left;
		margin:10px 10px 0 0;
	}
	#contGreat .titulo {
		color: $brand-color-5;
		text-transform:uppercase;
		font-size:20pt;
		line-height:28pt;
		margin:25px 0 25px 0;
	}
	#contTouch .col1 {
		margin:0;
	}
	#contTouch .col2 {
		display:none;
	}
}

/* Cookies */

#cookies {
	background-color: #f8f8f8;
	border-bottom: 1px #e8e8e8 solid;
	box-sizing: border-box;
	margin: 0;
	padding: 15px;

 	& .cont {

		& img  {
			float: left;
			margin: 20px 25px 0 10px;
			width: 25px;
		}

		& p  {
			float: left;
			margin: 0;
			padding: 0;
			font-size: 11pt;
			line-height: 12pt;
			width: 78%;
		}
	}
}

@media only screen and (min-width : 801px) {

	#cookies { margin-bottom: 25px;

		& .cont {

			& img  { margin-top: 5px; }

		}
	}
}

@media only screen and (min-width : 801px) {

	.show-cookies { padding-top: 30px; }

	#cookies {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 5px;
		z-index: 99999;

		& .cont {

			& img  {
				width: 15px;
				margin: 2px 10px 0 10px;

				&:hover { cursor: pointer; }

			}

			& p  {
				font-size: 10pt;
				line-height: 14pt;
			}
		}
	}
}
