$brand-color-1: #00ACED; /* Navy */
$brand-color-2: #6DCDF4; /* Sky */
$brand-color-3: #EB1B2E; /* Red */
$brand-color-4: #F06522; /* Orange */
$brand-color-5: #FFC905; /* Yellow */

$text-color:    #929496; /* Grey */
$heading-color: #A6A8AA; /* Light grey */

$image-path:    '../../imagens/';
